:root{
    --cor-0: #ffffff;
    --cor-1: #510c76;
    --cor-2: #8e6aa6;
    --cor-3: #000000;
}

.cor-0{
    color: var(--cor-0);
}

.cor-1{
    color: var(--cor-1);
}

.cor-2{
    color: var(--cor-2);
}

.cor-3{
    color: var(--cor-3);
}