
.introducao h2{
    padding-top: 30px;
    padding-bottom: 10px;
    
}

.intro-p{
    max-width: 800px;
    padding-bottom: 10px;
    text-align: justify;
    line-height: 1.3;
}

.inicial-img{
    margin-left: 100px;
}

.h2-secundario{
    margin-bottom: 20px;
    margin-top: 20px;
}

.h2-terciario{
    margin-bottom: 10px;
    margin-top: 40px;
}
.introducao-tecnico{
    display: flex;
    gap: 10px;
    margin: 0;
}