
.introducao h2{
    padding-top: 30px;
    padding-bottom: 10px;
    
}

.intro-p{
    max-width: 800px;
    padding-bottom: 10px;
    text-align: justify;
    line-height: 1.3;
}

.inicial-img{
    margin-left: 100px;
}

.h2-secundario{
    margin-bottom: 20px;
    margin-top: 20px;
}

.h2-terciario{
    margin-bottom: 10px;
    margin-top: 40px;
}
.introducao-tecnico{
    display: flex;
    gap: 10px;
    margin: 0;
}

.introducao-sessao{
    display: flex;
    justify-content: space-between;
    max-width: 650px;
    align-items: end;
    margin-top: 30px;
    margin-bottom: 10px;
}

.img-sessao{

    width: 650px;
    display: block;
    margin-left: 20px;
}

.tabelas-sessao{
   margin-bottom: 60px;
}

.font-1{
    font-size: 14px;
    margin-top: 20px;
}

.resumo h2{
    margin-top: 50px;
}

.resumo h1{
    font-size: 24px;
    margin: 60px 0px;
}


.selo h2{
    margin: 50px 0px 20px 0px;
}

.imagem-selo{
    display: flex;
    gap: 20px;
}

.imagem-selo p{
    margin-top: 10px;
}

.img-selo{
    width: 650px;
    margin: 50px auto;
    display: block;
}